#stickynotes_container {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    overflow: scroll;

    /* border: 5px solid peru; */
}

/* notes  */
#stickynotes_container section {
  width: 500px;
  height: 500px;
  max-width: 80vw;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  word-wrap: break-word; /* Ensures long words break to fit within the container */
  overflow-wrap: break-word; /* Ensures long words break to fit within the container */
  overflow-y: scroll;
  padding: 10px;
  text-align: center;
}



  


#stickynotes_container .red {
  background-color: var(--color-red);
}

#stickynotes_container .green {
  background-color: var(--color-green);
}

#stickynotes_container .purple {
  background-color: var(--color-purple);
}

#stickynotes_container .yellow {
  background-color: var(--color-yellow);
}

#stickynotes_container .blue {
  background-color: var(--color-blue);
}

#stickynotes_container .orange {
  background-color: var(--color-orange);
}




/* note_options */
.note_options {
  position: fixed;
  top: 10px;
  right: 15px;
  bottom: auto;
  left: auto;
  display: flex;
  gap: 5px;
  cursor: pointer;
  z-index: 5;
}
.note_options div:hover {
  opacity: 0.7;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .note_options {
    top: auto;
    bottom: 20px;
    right: auto;
    left: 20px;
    gap: 15px;
  }
  .note_options div {
    font-size: 40px;
  }
}